WA_PHONE_NUMBER_ID=your_phone_number_id
WA_ACCESS_TOKEN=your_permanent_token
VERIFY_TOKEN=hotel_bot_verify_123
ADMIN_PHONE=919816003322
STAYEZEE_CUSTOMER_ID=290323537
STAYEZEE_USERNAME=admin
STAYEZEE_PASSWORD=12345678
DEFAULT_RATE=3500
GOOGLE_SHEET_ID=your_google_sheet_id
GOOGLE_SERVICE_EMAIL=your_service_account@project.iam.gserviceaccount.com
GOOGLE_SERVICE_KEY=your_service_account_json_key
